{% extends "base.html" %}

{% block title %}Detalles del Laboratorio{% endblock %}

{% block content %}
<h1>Detalles del Laboratorio</h1>
<ul class="list-group">
    <li class="list-group-item"><strong>Nombre:</strong> {{ laboratorio.nombre }}</li>
    <li class="list-group-item"><strong>Ciudad:</strong> {{ laboratorio.ciudad }}</li>
    <li class="list-group-item"><strong>País:</strong> {{ laboratorio.pais }}</li>
</ul>
<a href="{% url 'laboratorio_list' %}" class="btn btn-secondary mt-3">Volver</a>
{% endblock %}