{% extends "base.html" %}

{% block title %}Detalle del Director General{% endblock %}

{% block content %}
<h1>Detalle del Director General</h1>
<ul class="list-group">
    <li class="list-group-item"><strong>Nombre:</strong> {{ director.nombre }}</li>
    <li class="list-group-item"><strong>Especialidad:</strong> {{ director.especialidad }}</li>
    <li class="list-group-item"><strong>Laboratorio:</strong> {{ director.laboratorio.nombre }}</li>
</ul>
<a href="{% url 'director_list' %}" class="btn btn-secondary mt-3">Volver</a>
{% endblock %}